body {
    background-color: #eb9696;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 70px;
}
.baslik {
    color:#ff5c5c;
    width: 90%;
    max-width: 500px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 50px;
    background-color: white;
}

.sorular {
    margin-top: 20px;
    padding: 20px 30px;
    font-size:20px;
    background-color: #ff5c5c;
    color: white;
    border-radius: 12px;
    transition: background-color 0.5s;
}

.sorular:hover {
    background-color: #b22222;
}

.soruEkleme {
    background-color: white;
    padding-top: 50px;
    padding: 30px;
    border-radius: 30px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    justify-content: center;
}

.soruEkleme h2 {
    color: #ff5c5c;
    margin-bottom: 20px;
}

.soruGirme {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.soruGirme input[type="text"],
.soruGirme select {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
.dogruSecenek {
    margin-bottom: 10px;
}

.soruGirme button {
    padding: 10px 20px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.soruGirme button:hover {
    background-color: #a30909;
}
.butonSinav a button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color:#eb9696;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.butonSinav button:hover {
    background-color: #d15f5f;
}

.testbuton button{
    width: 30%; 
    padding: 10px 20px; 
    font-size: 16px;
    background-color: #eb9696;
    color: white; 
    border: none; 
    border-radius: 10px; 
    margin: 10px;
    margin-top: 20px; 
}

.testbuton button:hover {
    background-color: #d15f5f;
}
.soruGoster{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    width: 80%;
    max-width: 500px;
    margin:50px auto;
    text-align: center;
}
#zorlukSec {
    padding: 5px 10px; 
    font-size: 16px; 
    border-radius: 10px; 
    background-color: white; 
    margin-top: 20px;
    border: 1px solid #ccc;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #d15f5f;
    font-weight: 600;
}
.cbtn{
    background: #fff;
    color: #d15f5f;
    font-weight: 500;
    width: 100%;
    border: 1px ;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.cbtn:hover:not([disabled]){
    background: #d15f5f;
    color: #fff;
}
.cbtn:disabled{
    cursor: no-drop;
}
#sbtn{
    background: #d15f5f;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #82e998;
}
.incorrect{
    background: #f37f7f;
}
s